#herokep{
display: block;
margin: 0 auto;
width: 700px;
height: auto;
}
h1{
    text-align: center;
}
p{
    text-align: left;
}
h2{
    text-align: left;
}
.card-img-top {
    width: 100%;
    height: 200px; /* fix magasság */
    object-fit: cover; /* a kép arányos, kitöltve */
  }
  .container{

  }
  .checked {
    color: orange;
  }
  .rating{
    text-align: center;
    
  }
  #csillag{
    text-align: center;
  }
  .fa{
    padding-right: 1vw;
  }
  .jobboldali{
    padding-left: 10vw;
    
  }
  .ikon{
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
  }
  a{
    color: black;
  }

  