body {
    background-image: url(img/Hatter.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.szk {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid black 3px;
    border-radius: 5px;
    border-width: 40%;
    margin: 3%;
    color: rgba(0, 0, 0, 1);
    
}
.container-fluid {
    width: 45%;
    text-align: center;
}

body {
    background-image: url(img/Hatter.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#szk {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid black 3px;
    border-radius: 5px;
    border-width: 40%;
    margin: 35px;
    color: rgba(0, 0, 0, 1);
}

.card-text {
    text-align: right;
    margin-left: 5%;
}

.card-title{
    text-align: center;
}